<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
        type="text/css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">



    <title>Map</title>
   
</head>

<body>
    <nav class="navbar navbar-expand-lg my_nav">
        <a class="navbar-brand" href="#">COVICOM2.0</a>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Vaccination Centres</a>
            </li>         
          </ul>
        </div>
      </nav>


    <div id='map' style='width: 100vw; height: 98vh;'></div>
    <div class="legend">
      <h3>Active Cases</h3>
<div><span id="d1" class="dot"></span>More than 11400</div>
<div><span id="d2" class="dot"></span>11400 - 7800</div>
<div><span id="d3" class="dot"></span>7800 - 3500</div>
<div><span id="d4" class="dot"></span>3500 - 1000</div>
<div><span id="d5" class="dot"></span>1000 - 400</div>
<div><span id="d6" class="dot"></span>400 - 280</div>
<div><span id="d7" class="dot"></span>280 - 110</div>
<div><span id="d8" class="dot"></span>110 - 45</div>
<div><span id="d9" class="dot"></span>45 - 0</div>
        
    </div>
</body>


<script src="app.js"></script>
</html>